@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 310px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 18px;
  gap: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.image {
  position: relative;
  width: 275px;
  height: 255px;
}
.img {
  width: 275px;
  height: 255px;
  border-radius: 10px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}
.state {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.image:hover .img {
  opacity: 0.3;
}
.image:hover .state {
  opacity: 1;
  color: white;
}
.eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: hsl(178, 100%, 50%);
  opacity: 0.1;
}

.title {
  width: 100%;
}
.title a {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.title a:hover {
  color: hsl(178, 100%, 50%);
}
.para p {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 300;
  color: lightslategray;
}
.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.money {
  display: flex;
  gap: 8px;
  color: hsl(178, 100%, 50%);
}
.days {
  display: flex;
  gap: 8px;
  color: hsl(215, 51%, 70%);
}

.profile {
  display: flex;
  width: 100%;
  gap: 14px;
  align-items: center;
}

.avatar,
.ava {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 200%;
}

hr {
  background-color: hsl(215, 32%, 27%);
  width: 100%;
  border: 0.25px solid hsl(215, 32%, 27%);
}
.name {
  display: flex;
  gap: 4px;
}
.creation {
  color: hsl(215, 51%, 70%);
}
.jul a {
  color: white;
  text-decoration: none;
}
.jul a:hover {
  color: hsl(178, 100%, 50%);
}

footer {
  margin-top: 20px;
}
.my a {
  color: hsl(178, 100%, 50%);
}
.attribution {
  display: flex;
  gap: 5px;
}
